# ignoring opendb files to avoid VS2015 issue, see http://stackoverflow.com/questions/34319008/git-issue-with-visual-studio-2015-update-1
*.VC.opendb
*.VC.db
*.build
*.deb
*.diagsession
*.dir
*.log
*.pyc
*.sln
*.substvars
*.swp
*.vcproj
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.xcodeproj
.DS_Store
.pytest_cache
.mypy_cache/
.vs/
.vscode/
/.ropeproject
/.vscode
/CMakeCache.txt
/Licenses
/Local.cmake
/Output
/compile_commands.json
DevelopmentKit_*
CMakeFiles
CMakeScripts
Debug
Makefile
Win32
build-stamp
cmake_install.cmake
x64
bin
lib
out
conanbuildinfo.*
conaninfo.txt
conan.lock
graph_info.json
invoke.json
